* {
    font-family: font_1;
}

body {
    background-image: url('https://cdn.pixabay.com/photo/2020/05/25/20/06/storm-5220380_1280.jpg');
    background-color: #9e9e9e;
    background-position: center;
    background-size: cover;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.bg-grey {
    background-image: linear-gradient(#DDDDDD, #cecece);
}
.bg-yellow {
    background-image: linear-gradient(#c7542e, #ab2727);
}

.window_border {
    border-radius: 1vh;
    overflow: hidden;

    border-width: 2px;
    border-style:ridge;
    border-color: #777777;
}

.bg_window {
    /*background-image: url('../assets/png/noise/perlin_noise4.png');*/
    background-blend-mode: soft-light;
    background-size: 50%;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.btn_default_border {
    border-width: 2px;
    border-style:ridge;
    border-color: #777777;
    border-radius: 100vh;
}

.btn_close {
    width: 40px;
    background-image: linear-gradient(#ff4a4a, #d73b3b);
    padding: 5px;
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.btn_classic{
    background-color: #DDDDDD;
    background-image: linear-gradient(#DDDDDD, #bdbdbd);
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: black;

    border-width: 2px;
    border-style:ridge;
    border-color: #777777;
    border-radius: 100vh;
}

.jetbrains-mono-font_1 {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

.padding {
    padding-bottom: 50%;
}

