body {
    background-image: url('/assets/png/pexels-tbee-14592-82256.jpg');
    background-position: center;
    background-size: cover;
    background-color: #cda87f;
    background-blend-mode: multiply;
}
